{% extends "base_2col.html" %}
{% load i18n %}
{% load adminmedia %}

{% block title %}{% trans "Edit your personal information" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/ui.datepicker.css" type="text/css" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/ui.datepicker.js"></script>
<script type="text/javascript">
$(function() {
	$('#id_birthdate').datepick({dateFormat: 'dd-mm-yy'},{yearRange: '1950:2010'});
});
</script>
{% endblock %}

{% block nav-main %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block content %}
	<form class="personal" action="{{ request.path_info }}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<fieldset>
		<legend>{% trans "BlankOn User Survey" %}</legend>
		{{ form.as_p }}
	</fieldset>
	<input type="submit" value="{% trans 'Save' %}" />
	</form>
{% endblock %}

{% block content-related %}
  <div class="box">
    <h3>{% trans "BlankOn user survey" %}</h3>
    <p>{% trans "Please help us to get information about BlankOn Linux user. Please refer to Privacy Policy to know more about this project." %}.</p>
  </div>
{% endblock %}

