{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Privacy - BlankOn Authentication" %}{% endblock %}

{% block content %}
<h2>{% trans "Privacy Policy" %}</h2>

<p>Last modified: September 25, 2011</p>

{% trans " <h3>Information we collect and how we use it</h3> " %}

<p>We may collect the following types of information:</p>

<ul>
    <li>Information you provide - When you sign up for a BlankOn Account, we ask you for personal information.</li>
    <li>Location data - BlankOn offers location-enabled services.</li>
</ul>

<p>In addition to the above, we may use the information we collect to:</p>

<ul>
    <li> Provide, maintain, protect, and improve our services and develop new services; and Protect the rights or property of BlankOn or our users.</li>
    <li> If we use this information in a manner different than the purpose for which it was collected, then we will ask for your consent prior to such use.</li>
    <li>BlankOn processes personal information on our servers in the Indonesia.</li>
</ul>

<p><b>Changes to this Privacy Policy</b></p>

<p>
Please note that this Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. We will post any Privacy Policy changes on this page.
</p>

{% endblock %}

